
/* UnComment shortcut key - ctrl + k + u */
/* Comment shortcut key - ctrl + k + c */


/*imp! Comment Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*imp! Navbar CSS */
.main-div{
    background: linear-gradient(45deg,#0b006b,#0b006b64);
    height: 85px;
}

.img-div{
    width: 200px;
    padding: 10px;
}

.img-div img{
    width: 100%;
    float: left;
}

.nav-item{
    float: right;
    margin-right: 45px;
    margin-top: 5px;
}

.nav-item a{
    text-decoration: none;
    color: #e5e5e5;
    font-size: 25px;
    margin-right: 30px;
}